*.class
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bin/

*.classpath
*.project
.gradle/
build/*

assets_ourcraft_textures_blocks.png
assets_textures_blocks.png
ourcraft_textures_blocks.png

# Intellij IDEA #
.idea/
*.iml
build/

ourcraft_textures_items.png